
<nb-card id="create-use-class">
  <nb-card-header>{{'use_class_create_title' | translate}}</nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="name" class="label">{{'use_class_create_edit_field_name' | translate}}</label>
        <input type="text" nbInput fullWidth id="name" formControlName="name" placeholder="{{'use_class_create_edit_field_name_placeholder' | translate}}">
        <div *ngIf="f.name.touched && f.name.invalid" class="mt-2">
          <nb-alert status="danger" *ngIf="f.name.errors.required">{{'use_class_create_edit_field_name_required' | translate}}</nb-alert>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="label">{{'use_class_create_edit_field_description' | translate}}</label>
        <textarea rows="10" fieldSize="large" nbInput fullWidth id="description" formControlName="description" placeholder="{{'use_class_create_edit_field_description_placeholder' | translate}}" ></textarea>
        <br>
        <div *ngIf="f.description.touched && f.description.invalid" class="mt-2">
          <nb-alert status="danger" *ngIf="f.description.errors.required">{{'use_class_create_edit_field_description_required' | translate}}</nb-alert>
        </div>
      </div>
      <div class="actions">
        <button (click)="goTo('/modules/use-class/index')" nbButton >{{'btn_back' | translate}}</button>
        <button type="submit" nbButton status="danger" [disabled]="!form.valid">{{'btn_submit' | translate}}</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
