<nb-card>
  <nb-card-header>{{'campaign_create_title' | translate}}</nb-card-header>
  <nb-card-body>
    <nb-stepper #stepper orientation="vertical">
      <nb-step [stepControl]="infoForm" label="{{'campaign_create_edit_tab_info_title' | translate}}">
        <form id="infoForm" [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit()" class="step-container" autocomplete="off">
          <nb-card>
            <nb-card-header>{{'campaign_create_edit_tab_info_card_title' | translate}}</nb-card-header>
            <nb-card-body [nbSpinner]="loadingForms" nbSpinnerStatus="primary" nbSpinnerSize="giant">
              <div class="form-group">
                <label for="name" class="label">{{'campaign_create_edit_tab_info_field_name' | translate}}</label>
                <input id="name" formControlName="name" placeholder="{{'campaign_create_edit_tab_info_field_name_placeholder' | translate}}" type="text" nbInput fullWidth>
                <div *ngIf="fInfo.name.touched && fInfo.name.invalid" class="mt-2">
                  <nb-alert status="danger" *ngIf="fInfo.name.errors.required">{{'campaign_create_edit_tab_info_field_name_required' | translate}}</nb-alert>
                </div>
              </div>
              <div class="form-group">
                <label for="description" class="label">{{'campaign_create_edit_tab_info_field_description' | translate}}</label>
                <textarea id="description" formControlName="description" placeholder="{{'campaign_create_edit_tab_info_field_description_placeholder' | translate}}" rows="10"
                  fieldSize="large" nbInput fullWidth></textarea>
                <div *ngIf="fInfo.description.touched && fInfo.description.invalid" class="mt-2">
                  <nb-alert status="danger" *ngIf="fInfo.description.errors.required">
                    {{'campaign_create_edit_tab_info_field_description_required' | translate}}
                  </nb-alert>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6 col-xl-6">
                    <div class="">
                      <label for="name" class="label">{{'campaign_create_edit_tab_info_field_organization' | translate}}</label>
                      <nb-select id="organization" formControlName="organization" placeholder="{{'campaign_create_edit_tab_info_field_organization_placeholder' | translate}}"
                        fullWidth filled>
                        <nb-option *ngFor="let organization of organizations" value="{{organization.id}}">
                          {{organization.name}}</nb-option>
                      </nb-select>
                      <div *ngIf="fInfo.organization.touched && fInfo.organization.invalid" class="mt-2">
                        <nb-alert status="danger" *ngIf="fInfo.organization.errors.required">
                          {{'campaign_create_edit_tab_info_field_organization_required' | translate}}
                        </nb-alert>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-xl-16">
                    <div class="form-group">
                      <label for="numInspectors" class="label">{{'campaign_create_edit_tab_info_field_inspectors' | translate}}</label>
                      <input id="numInspectors" formControlName="numInspectors" placeholder="{{'campaign_create_edit_tab_info_field_inspectors_placeholder' | translate}}"
                        type="number" nbInput fullWidth>
                      <div *ngIf="fInfo.numInspectors.touched && fInfo.numInspectors.invalid" class="mt-2">
                        <nb-alert status="danger" *ngIf="fInfo.numInspectors.errors.required">
                          {{'campaign_create_edit_tab_info_field_inspectors_required' | translate}}
                        </nb-alert>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-md-6 col-xl-6">

                    <div class="form-group">
                      <label for="numInspectors" class="label">{{'campaign_create_edit_tab_info_field_country' | translate}}</label>
                      <input #country
                             id="country"
                             formControlName="country"
                             nbInput
                             fullWidth
                             type="text"
                             (input)="onCountryChange()"
                             placeholder="{{'campaign_create_edit_tab_info_field_country_placeholder' | translate}}"
                             [nbAutocomplete]="auto" />

                      <nb-autocomplete #auto (selectedChange)="onSelectionCountryChange($event)">
                        <nb-option *ngFor="let country of filteredCountries$ | async" [value]="country.ISO">
                          {{ country.COUNTRY }}
                        </nb-option>
                      </nb-autocomplete>
                      <div *ngIf="fInfo.country.touched && fInfo.country.invalid" class="mt-2">
                        <nb-alert status="danger" *ngIf="fInfo.country.errors.required">
                          {{'campaign_create_edit_tab_info_field_country_required' | translate}}
                        </nb-alert>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-xl-6 mt-lg-4 mt-md-4">
                    <nb-toggle fullWidth status="basic" labelPosition="left" [(checked)]="customImages">
                      {{'campaign_create_edit_tab_info_field_custom_images' | translate}}
                    </nb-toggle>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
          <div class="actions">
            <button type="submit" nbButton >{{'campaign_create_edit_tab_btn_next' | translate}}</button>
          </div>
        </form>
      </nb-step>
      <nb-step [stepControl]="configForm" label="{{'campaign_create_edit_tab_config_title' | translate}}">
        <form id="configForm" [formGroup]="configForm" (ngSubmit)="onConfigFormSubmit()" class="step-container" autocomplete="off">
          <nb-card>
            <nb-card-header>
              {{'campaign_create_edit_tab_config_card_title' | translate}}
            </nb-card-header>
            <nb-card-body [nbSpinner]="loadingForms" nbSpinnerStatus="primary" nbSpinnerSize="giant">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-6">
                  <div class="form-group">
                    <label for="initialDate" class="label">{{'campaign_create_edit_tab_config_field_initial_date' | translate}}</label>
                    <input id="initialDate" formControlName="initialDate" placeholder="{{'campaign_create_edit_tab_config_field_initial_date_placeholder' | translate}}"
                      [nbDatepicker]="dpInitialDate" nbInput fullWidth>
                    <nb-datepicker #dpInitialDate format="{{'datepicker_format' | translate}}"></nb-datepicker>
                    <div *ngIf="fConfig.initialDate.touched && fConfig.initialDate.invalid" class="mt-2">
                      <nb-alert status="danger" *ngIf="fConfig.initialDate.errors.required">
                        {{'campaign_create_edit_tab_config_field_initial_date_required' | translate}}
                      </nb-alert>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-16">
                  <div class="form-group">
                    <label for="finalDate" class="label">{{'campaign_create_edit_tab_config_field_final_date' | translate}}</label>
                    <input id="finalDate" formControlName="finalDate" placeholder="{{'campaign_create_edit_tab_config_field_final_date_placeholder' | translate}}"
                      [nbDatepicker]="dpFinalDate" nbInput fullWidth>
                    <nb-datepicker #dpFinalDate format="{{'datepicker_format' | translate}}"></nb-datepicker>
                    <div *ngIf="fConfig.finalDate.touched && fConfig.finalDate.invalid" class="mt-2">
                      <nb-alert status="danger" *ngIf="fConfig.finalDate.errors.required">
                        {{'campaign_create_edit_tab_config_field_final_date_required' | translate}}
                      </nb-alert>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-6">
                  <nb-card>
                    <nb-card-header>{{'campaign_create_edit_tab_config_card_colors_title' | translate}}</nb-card-header>
                    <nb-card-body>
                      <div class="row">
                        <div class="col-sm-12 col-md-5 col-xl-5">
                          <div class="form-group">
                            <label for="satellite" class="label">{{'campaign_create_edit_tab_config_field_satellite' | translate}}</label>
                            <nb-select id="satellite" formControlName="satellite" placeholder="{{'campaign_create_edit_tab_config_field_satellite_placeholder' | translate}}"
                              fullWidth filled>
                              <nb-option *ngFor="let satellite of satellites" value="{{satellite.id}}">
                                {{satellite.name}}</nb-option>
                            </nb-select>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-5 col-xl-5">
                          <div class="form-group">
                            <label for="_colors" class="label">{{'campaign_create_edit_tab_config_field_colors' | translate}}</label>
                            <nb-select id="_colors" formControlName="_colors" placeholder="{{'campaign_create_edit_tab_config_field_colors_placeholder' | translate}}" fullWidth
                              filled multiple>
                              <nb-option *ngFor="let colorComp of colorsComposition" value="{{colorComp.id}}">
                                {{colorComp.name}}</nb-option>
                            </nb-select>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-2 col-xl-2">
                          <div class="mb-1"></div>
                          <button (click)="addComposition()" type="button" class="mt-4" nbButton status="success"
                            size="small">
                            <nb-icon icon="plus-outline"></nb-icon>
                          </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                          <ng2-smart-table *ngIf="compositions.length > 0" [settings]="tableCompositions.settings"
                            [source]="tableCompositions.source" (delete)="removeComposition($event)">
                          </ng2-smart-table>
                        </div>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6">
                  <nb-card>
                    <nb-card-header>{{'campaign_create_edit_tab_config_card_use_classes_title' | translate}}</nb-card-header>
                    <nb-card-body>
                      <div class="row">
                        <div class="col-sm-12 col-md-10 col-xl-10">
                          <div class="form-group">
                            <label for="useClass" class="label">{{'campaign_create_edit_tab_config_field_use_classes' | translate}}</label>
                            <nb-select id="useClass" formControlName="useClass" placeholder="{{'campaign_create_edit_tab_config_field_use_classes_placeholder' | translate}}" fullWidth
                              filled>
                              <nb-option *ngFor="let useClass of useClasses" value="{{useClass.id}}">{{useClass.name}}
                              </nb-option>
                            </nb-select>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-2 col-xl-2">
                          <div class="mb-1"></div>
                          <button (click)="addClass()" type="button" class="mt-4" nbButton status="success"
                            size="small">
                            <nb-icon icon="plus-outline"></nb-icon>
                          </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                          <ng2-smart-table *ngIf="useClassesSelected.length > 0" [settings]="tableUseClass.settings"
                            [source]="tableUseClass.source" (delete)="removeClass($event)">
                          </ng2-smart-table>
                        </div>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
              <div class="actions">
                <button type="button" nbButton nbStepperPrevious>{{'campaign_create_edit_tab_btn_prev' | translate}}</button>
                <button nbButton type="submit" >{{'campaign_create_edit_tab_btn_next' | translate}}</button>
              </div>
            </nb-card-body>
          </nb-card>
        </form>
      </nb-step>
      <nb-step [stepControl]="pointsForm" label="{{'campaign_create_edit_tab_points_title' | translate}}">
        <form [formGroup]="pointsForm" (ngSubmit)="onPointsFormSubmit()" class="step-container">
          <nb-card [nbSpinner]="loadingPoints" nbSpinnerStatus="danger" nbSpinnerSize="giant"
            nbSpinnerMessage="Loading points">
            <nb-card-header>{{'campaign_create_edit_tab_points_card_title' | translate}}</nb-card-header>
            <nb-card-body [nbSpinner]="loadingForms" nbSpinnerStatus="primary" nbSpinnerSize="giant">
              <div class="row mt-3">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="pointsFile" class="label">{{'campaign_create_edit_tab_points_field_file_points' | translate}}</label>
                    <input id="pointsFile" accept="text/csv" formControlName="pointsFile"
                      placeholder="{{'campaign_create_edit_tab_points_field_file_points_placeholder' | translate}}" type="file"
                      (change)="handlePointsFile($event.target.files[0])" nbInput fullWidth>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="points.length > 0 && !loadingPoints">
                <div class="col-sm-12">
                  <ngx-ol-map [center]="[4.984761,34.337429]" [zoom]="4" [points]="mapPoints"
                    (mapReady)="onMapReady($event)"></ngx-ol-map>
                </div>
              </div>
              <div class="row mt-3" *ngIf="points.length > 0 && !loadingPoints">
                <div class="col-sm-12">
                  <nb-card>
                    <nb-card-header class="header-flex">
                      <span>
                        <h6> {{'campaign_create_edit_tab_points_table_title' | translate}}</h6>
                      </span>
                      <span>
                        <button type="button" (click)="shufflePoints()" nbButton status="warning" size="medium">
                          {{'campaign_create_edit_tab_points_table_shuffle' | translate}}
                        </button>
                      </span>
                      <span>
                        <h6>{{'campaign_create_edit_tab_points_table_total_points' | translate:{total:points.length} }}</h6>
                      </span>
                    </nb-card-header>
                    <nb-card-body>
                      <ng2-smart-table [settings]="tablePoints.settings" [source]="tablePoints.source">
                      </ng2-smart-table>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
              <div class="actions">
                <button nbButton nbStepperPrevious>{{'campaign_create_edit_tab_btn_prev' | translate}}</button>
                <button type="submit" nbButton >{{'campaign_create_edit_tab_btn_next' | translate}}</button>
              </div>
            </nb-card-body>
          </nb-card>
        </form>
      </nb-step>
      <nb-step [stepControl]="usersForm" label="{{'campaign_create_edit_tab_users_title' | translate}}">
        <form [formGroup]="usersForm" (ngSubmit)="onUsersFormSubmit()" class="step-container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12">
              <nb-card>
                <nb-card-header>{{'campaign_create_edit_tab_users_card_title' | translate}}</nb-card-header>
                <nb-card-body [nbSpinner]="loadingForms" nbSpinnerStatus="primary" nbSpinnerSize="giant">
                  <div class="row">
                    <div class="col-sm-12 col-md-5 col-xl-5">
                      <div class="form-group">
                        <label for="user" class="label">{{'campaign_create_edit_tab_users_field_user' | translate}}</label>
                        <nb-select id="user" formControlName="user" placeholder="{{'campaign_create_edit_tab_users_field_user_placeholder' | translate}}" fullWidth filled>
                          <nb-option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</nb-option>
                        </nb-select>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-5 col-xl-5">
                      <div class="form-group">
                        <label for="permission" class="label">{{'campaign_create_edit_tab_users_field_permission' | translate}}</label>
                        <nb-select id="permission" formControlName="permission" placeholder="{{'campaign_create_edit_tab_users_field_permission_placeholder' | translate}}"
                          fullWidth filled>
                          <nb-option *ngFor="let permission of permissions" value="{{permission.id}}">
                            {{permission.name}}</nb-option>
                        </nb-select>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-2 col-xl-2">
                      <div class="mb-1"></div>
                      <button (click)="addUserOnCampaign()" type="button" class="mt-4" nbButton status="success"
                        size="small">
                        <nb-icon icon="plus-outline"></nb-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                      <ng2-smart-table *ngIf="UsersOnCampaigns.length > 0" [settings]="tableUsers.settings"
                        [source]="tableUsers.source" (delete)="removeUserOnCampaign($event)">
                      </ng2-smart-table>
                    </div>
                  </div>
                  <div class="actions">
                    <button nbButton nbStepperPrevious>{{'campaign_create_edit_tab_btn_prev' | translate}}</button>
                    <button nbButton type="submit">{{'campaign_create_edit_tab_btn_next' | translate}}</button>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </form>
      </nb-step>
      <nb-step [stepControl]="imagesForm" *ngIf="customImages" label="{{'campaign_create_edit_tab_images_title' | translate}}">
        <form [formGroup]="imagesForm" (ngSubmit)="onImagesFormSubmit()" class="step-container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12">
              <nb-card>
                <nb-card-header>{{'campaign_create_edit_tab_images_card_title' | translate}}</nb-card-header>
                <nb-card-body [nbSpinner]="loadingForms" nbSpinnerStatus="primary" nbSpinnerSize="giant">
                  <div class="row">
                    <div class="col-sm-12 col-md-2 col-xl-2">
                      <div class="form-group">
                        <label for="imgSatellite" class="label">{{'campaign_create_edit_tab_images_field_satellite' | translate}}</label>
                        <nb-select id="imgSatellite" formControlName="imgSatellite" placeholder="{{'campaign_create_edit_tab_images_field_satellite_placeholder' | translate}}"
                          fullWidth filled>
                          <nb-option *ngFor="let satellite of satellites" value="{{satellite.id}}">{{satellite.name}}
                          </nb-option>
                        </nb-select>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-2 col-xl-2">
                      <div class="form-group">
                        <label for="dataImg" class="label">{{'campaign_create_edit_tab_images_field_date' | translate}}</label>
                        <input id="dataImg" formControlName="dataImg" placeholder="{{'campaign_create_edit_tab_images_field_date_placeholder' | translate}}" [nbDatepicker]="dataImg"
                          nbInput fullWidth>
                        <nb-datepicker #dataImg></nb-datepicker>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-6">
                      <div class="form-group">
                        <label for="url" class="label">{{'campaign_create_edit_tab_images_field_url' | translate}}</label>
                        <input id="url" formControlName="url" placeholder="{{'campaign_create_edit_tab_images_field_url_placeholder' | translate}}" type="text" nbInput fullWidth>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-2 col-xl-2">
                      <div class="mb-1"></div>
                      <button (click)="addImage()" type="button" class="mt-4" nbButton status="success" size="small">
                        <nb-icon icon="plus-outline"></nb-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                      <ng2-smart-table *ngIf="images.length > 0" [settings]="tableImages.settings"
                        [source]="tableImages.source" (delete)="removeImage($event)">
                      </ng2-smart-table>
                    </div>
                  </div>
                  <div class="actions mt-3">
                    <button nbButton nbStepperPrevious>{{'campaign_create_edit_tab_btn_prev' | translate}}</button>
                    <button nbButton type="submit">{{'campaign_create_edit_tab_btn_next' | translate}}</button>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </form>
      </nb-step>
      <nb-step label="{{'campaign_create_edit_tab_confirmation_title' | translate}}">
        <div class="step-container">
          <h3 class="m-5" style="text-align: center">{{'campaign_create_finish_title' | translate}}</h3>
          <div class="actions">
            <button nbButton (click)="router.navigateByUrl('modules/campaign/index')">{{'campaign_create_edit_finish_btn' | translate}}</button>
          </div>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
