*.log
*.logs
*.csv
*.sublime-project
*.sublime-workspace
*.pyc
.idea
node_modules
ows_runtime.map
src/client/build/*
src/client/node_modules
src/client/.idea
*~
*#
*.pyc
*.rdb
src/server/passwords.json
*.sqlite
**/bin/REGIONS/
**/bin/chart/
**/integration/py/chart/
*.tif
src/server/bin/*.png
src/server/integration/py/*.pn	
devops/scripts/dump/
src/server/.gitignore
src/server/GJSON/campanha_2000_execution.geojson
src/server/GJSON/campanha_2000_original.geojson
src/server/GJSON/pontos_aa_5000.geojson
src/server/GJSON/pontos_aa_5000_part.geojson
src/server/bin/nohupCommand.txt
src/server/log/
lapig-ee-09144f43f3b5.json
lapig-ee-09144f43f3b5.pem
src/server/images/*
src/server/integration/py/gee-keys/
src/server/integration/py/credentials/
db/dump/
src/server/bin/GeoJSON/
src/server/bin/SHP
*.out
src/server/.env
src/server/bin/teste/*
src/server/bin/.env
