@import '../../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../../node_modules/@nebular/theme/styles/global/breakpoints';
@import '../../../@theme/styles/themes';
@import '../../../@theme/styles/mixins';
.inspect{
  cursor: pointer;
  font-size: 8px;
}
.btn-header {
  display: flex;
  justify-content: space-between;
}
.description {
  font-size: 0.8rem;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 42px;
  margin-top: 2px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-auto-rows: auto;
  grid-gap: 1rem;

  @include tablet() {
    grid-template-columns: repeat(2, 50%);
  }

  @include mobile() {
    grid-template-columns: repeat(1, 100%);
  }

  nb-actions {
    display: flex;
    justify-content: space-around;
    .status-success {
      cursor: pointer;
    }
  }
}

::ng-deep .ol-viewport {
  border-radius: 8px ;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}
