<div class="row" >
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <div class="header-point">
      <h6 class="title-point" *ngIf="isDataAvailable">Point {{info.current}} / {{info.total}} </h6>
      <span class="mt-2 mb-2 location">Location</span>
    </div>
    <ngx-ol-map
      *ngIf="isDataAvailable"
      [showBaseMapGoogle]="false"
      [showBaseMapsEsri]="true"
      [height]="'140px'"
      [mouseWheelZoom]="true"
      [zoom]="1"
      [mapId]="'map_point'"
      [center]="center"
      [points]="points"
    ></ngx-ol-map>
    <div class="mt-2 mb-2" *ngIf="isDataAvailable">
      <div class="">
        <label for="biome" class="label">Biome</label>
        <input id="biome" disabled fieldSize="tiny" type="text" [value]="info.point.biome" nbInput fullWidth>
      </div>
      <div class="">
        <label for="municipality" class="label">Municipality</label>
        <input id="municipality" disabled fieldSize="tiny" type="text" [value]="info.point.county  + ' - ' + info.point.uf | uppercase" nbInput fullWidth>
      </div>
      <div class="">
        <label for="coordinate"  class="label">Coordinate</label>
        <input id="coordinate" disabled [value]="info.point.lat + ' ' + info.point.lon" fieldSize="tiny" type="text" nbInput fullWidth>
      </div>
    </div>
    <nb-card [nbSpinner]="!isDataAvailable" nbSpinnerStatus="success" size="small">
      <nb-card-header>Land Use and Coverage</nb-card-header>
      <nb-card-body class="classification">
        <nb-card size="tiny">
          <nb-card-body class="classification">
            <div class="row">
              <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
                <label class="label">From</label>
                <input id="from" disabled fieldSize="small" value="1985" type="text" nbInput fullWidth>
              </div>
              <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
                <label class="label">To</label>
                <nb-select placeholder="Final year" fullWidth filled size="small">
                  <!--                <nb-option *ngFor="let organization of organizations" value="{{organization.id}}">-->
                  <!--                  {{organization.name}}</nb-option>-->
                  <nb-option [value]="1" >2000</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
                <label class="label ">Class</label>
                <nb-select fullWidth filled size="small">
                  <!--                <nb-option *ngFor="let organization of organizations" value="{{organization.id}}">-->
                  <!--                  {{organization.name}}</nb-option>-->
                  <nb-option [value]="1" >Desmatamento</nb-option>
                  <nb-option [value]="2" >Agricultura</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row mt-3 ">
              <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
                <nb-checkbox [value]="true">Border pixel</nb-checkbox>
              </div>
              <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
                <button type="button" nbButton fullWidth>send</button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <nb-card [nbSpinner]="!isDataAvailable" nbSpinnerStatus="success" size="giant">
      <nb-card-header>
        <strong>Imagens Landsat </strong> &nbsp; <small>RBG(NIR,SWIR,RED)</small>
      </nb-card-header>
      <nb-card-body class="img-satellite">
        <div class="grid-container">
          <div class="grid-view">
            <div class="camera" *ngFor="let img of images; let i = index">
<!--              <ngx-ol-map-->
<!--                *ngIf="isDataAvailable"-->
<!--                [showFullscreen]="false"-->
<!--                [mouseWheelZoom]="false"-->
<!--                [showBaseMapGoogle]="false"-->
<!--                [dragPan]="false"-->
<!--                [zoom]="13"-->
<!--                [minZoom]="0"-->
<!--                [maxZoom]="15"-->
<!--                [height]="'300px'"-->
<!--                [mapId]="'map' + i"-->
<!--                [center]="center"-->
<!--                [imgUrl]="img.url"-->
<!--                [extent]="extent"-->
<!--                [points]="points"-->
<!--              ></ngx-ol-map>-->
              <img [src]="img.url">
              <div class="camera-name">
                <span >{{ img.date | date }}</span>
                <span >{{ period }}</span>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer >
        <nb-actions [size]="actionSize" fullWidth>
          <nb-action (click)="swicthPeriod('WET')">
            <nb-icon icon="image-outline" pack="eva"></nb-icon>
            WET
          </nb-action>
          <nb-action (click)="swicthPeriod('DRY')">
            <nb-icon icon="image-outline" pack="eva"></nb-icon>
            DRY
          </nb-action>
        </nb-actions>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
