<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <div class="header-point">
      <h6 class="title-point" *ngIf="isDataAvailable">Point {{info.current}} / {{info.total}} </h6>
      <span class="mt-1 mb-1 location">Location</span>
    </div>
<!--    <ngx-ol-map *ngIf="isDataAvailable" [showBaseMapGoogle]="true" [showBaseMapsEsri]="false" [height]="'140px'"-->
<!--      [mouseWheelZoom]="true" [zoom]="2" [minZoom]="2" [maxZoom]="18" [mapId]="'map_point' + info.current" [center]="center" [points]="points"></ngx-ol-map>-->
    <div class="mt-2 mb-2" *ngIf="isDataAvailable">
      <div class="">
        <label for="biome" class="label">Biome</label>
        <input id="biome" disabled fieldSize="tiny" type="text" [value]="info.point?.biome" nbInput fullWidth>
      </div>
      <div class="">
        <label for="municipality" class="label">Municipality</label>
        <input id="municipality" disabled fieldSize="tiny" type="text"
          [value]="info.point?.county  + ' - ' + info.point?.uf | uppercase" nbInput fullWidth>
      </div>
      <div class="">
        <label for="coordinate" class="label">Coordinate</label>
        <input id="coordinate" disabled [value]="info.point.lat + ' ' + info.point.lon" fieldSize="tiny" type="text"
          nbInput fullWidth>
      </div>
    </div>
    <nb-card *ngIf="isDataAvailable"  size="medium">
      <nb-card-header>Land Use and Coverage</nb-card-header>
      <nb-card-body class="classification">
        <div class="btn-actions-class">
          <button type="button" size="medium" status="danger" nbButton [disabled]="answers.length == 1"  (click)="formSubtraction()">
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
          <button type="button" size="medium" status="success" nbButton  [disabled]="answers[answers.length - 1].finalYear != login.campaign.finalYear" (click)="submitForm()">
            <nb-icon icon="save-outline"></nb-icon>
          </button>
        </div>
        <nb-card size="tiny" *ngFor="let answer of answers; let i = index">
          <nb-card-body class="classification">
            <div class="row">
              <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
                <label class="label">From</label>
                <nb-select placeholder="" fullWidth filled size="small" [(selected)]="answer.initialYear" [disabled]="answers.length >= (i + 1)">
                  <nb-option *ngFor="let year of optionYears[i]; let i = index" [value]="year">{{year}}</nb-option>
                </nb-select>
              </div>
              <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
                <label class="label">To</label>
                <nb-select placeholder="" fullWidth filled size="small" [(selected)]="answer.finalYear" [disabled]="answers.length != (i + 1)">
                  <nb-option *ngFor="let year of optionYears[i]; let i = index" [value]="year">{{year}}</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
                <label class="label ">Class</label>
                <nb-select fullWidth filled size="small" [(selected)]="answer.landUse" (selectedChange)="formPlus()">
                  <nb-option *ngFor="let class of login.campaign.landUse; let i = index" [value]="class">{{class}}</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row mt-3 ">
              <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
                <nb-checkbox [disabled]="answers.length != (i + 1)" [(ngModel)]="answer.pixelBorder">Border pixel</nb-checkbox>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
      <nb-card [nbSpinner]="!isDataAvailable" nbSpinnerStatus="success" size="giant">
        <nb-card-header>
          <strong>Imagens </strong> &nbsp; <small>RBG(NIR,SWIR,RED)</small>
        </nb-card-header>
        <nb-card-body class="img-satellite">
          <div *ngIf="image === 'DRY'" class="grid-container">
            <div class="grid-view" *ngIf="isDataAvailable">
              <div class="camera" *ngFor="let img of imagesDry; let i = index">
                <ngx-ol-map *ngIf="isDataAvailable" [showFullscreen]="false" [mouseWheelZoom]="false"
                            [showBaseMapGoogle]="false" [dragPan]="false" [zoom]="1" [minZoom]="1" [maxZoom]="18" [height]="'300px'"
                            [mapId]="'map_images_dry' + i" [center]="center" [imgUrl]="img.url" [extent]="extent" [points]="points">
                </ngx-ol-map>
                <div class="camera-name">
                  <span>{{ img.date | date }}</span>
                  <span>{{ 'DRY' }}</span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="image === 'WET'" class="grid-container">
            <div class="grid-view" *ngIf="isDataAvailable">
              <div class="camera" *ngFor="let img of imagesWet; let i = index">
                <ngx-ol-map [showFullscreen]="false" [mouseWheelZoom]="false"
                            [showBaseMapGoogle]="false" [dragPan]="false" [zoom]="1" [minZoom]="1" [maxZoom]="18" [height]="'300px'"
                            [mapId]="'map_images_wet' + i" [center]="center" [imgUrl]="img.url" [extent]="extent" [points]="points">
                </ngx-ol-map>
                <div class="camera-name">
                  <span>{{ img.date | date }}</span>
                  <span>{{ 'WET' }}</span>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <nb-actions [size]="actionSize" fullWidth>
            <nb-action class="show-img" (click)="showImage('DRY')">
              <nb-icon icon="image-outline" pack="eva"></nb-icon>
              LANDSAT DRY
            </nb-action>
            <nb-action class="show-img" (click)="showImage('WET')">
              <nb-icon icon="image-outline" pack="eva"></nb-icon>
              LANDSAT WET
            </nb-action>
          </nb-actions>
        </nb-card-footer>
      </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card [nbSpinner]="!isDataAvailable" size="tiny">
      <nb-card-header>MODIS NDVI Series </nb-card-header>
      <nb-card-body class="classification">
        <chart  *ngIf="isDataAvailable" type="line" [data]="dataChart" [options]="options"></chart>
      </nb-card-body>
    </nb-card>
  </div>
</div>



