<nb-card>
  <nb-card-header>
    <h5>Edit User</h5>
  </nb-card-header>
  <nb-card-body>
    <form aria-labelledby="title">
      <div class="container">
        <div class="row">
          <div class="row col-6">
            <div class="col-2">
              <img class="profile" [src]="user.picture? user.picture : '../../../../assets/images/user-avatar.png'"
                width="100">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-control-group col">
            <h6>User information</h6>
            <label class="label" for="input-name">Full name:</label>
            <input nbInput id="input-name" #fullName="ngModel" [(ngModel)]="user.name" name="name"
              placeholder="Full name" autofocus fullWidth fieldSize="large">
            <ng-container *ngIf="fullName.invalid && fullName.touched">
              <p class="caption status-danger" *ngIf="fullName.errors?.required">
                Full name is required!
              </p>
              <!--                <p class="caption status-danger" *ngIf="fullName.errors?.minlength || fullName.errors?.maxlength">-->
              <!--                  Full name should contains-->
              <!--                  from {{getConfigValue('forms.validation.fullName.minLength')}}-->
              <!--                  to {{getConfigValue('forms.validation.fullName.maxLength')}}-->
              <!--                  characters-->
              <!--                </p>-->
            </ng-container>
          </div>
          <div class="form-control-group col">
            <h6>Change password</h6>
            <label class="label" for="input-password">New Password:</label>
            <input nbInput #password="ngModel" type="password" id="input-password" [(ngModel)]="user.password"
              name="password" placeholder="Password" fullWidth fieldSize="large">
            <ng-container *ngIf="password.invalid && password.touched">
              <p class="caption status-danger" *ngIf="password.errors?.required">
                Password is required!
              </p>
              <!--                 <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">-->
              <!--                   Password should contain-->
              <!--                   from {{ getConfigValue('forms.validation.password.minLength') }}-->
              <!--                   to {{ getConfigValue('forms.validation.password.maxLength') }}-->
              <!--                   characters-->
              <!--                 </p>-->
            </ng-container>
          </div>
        </div>

        <div class="row">
          <div class="form-control-group col">
            <label class="label" for="input-email">Email address:</label>
            <input nbInput id="input-email" [(ngModel)]="user.email" name="email" pattern=".+@.+..+" #email="ngModel"
              placeholder="email@gmail.com" fullWidth fieldSize="large">
            <ng-container *ngIf="email.invalid">
              <p class="caption status-danger" *ngIf="email.errors?.required">
                Email is required!
              </p>
              <p class="caption status-danger" *ngIf="email.errors?.pattern">
                Email should be the real one!
              </p>
            </ng-container>
          </div>
          <div class="form-control-group col">
            <label class="label" for="input-re-password">Confirm new password:</label>
            <input nbInput type="password" (blur)="checkPassword()" id="input-re-password" #rePass="ngModel"
              [(ngModel)]="confirmPassword" name="rePass" placeholder="Confirm Password" fullWidth fieldSize="large">
            <ng-container *ngIf="rePass.invalid && rePass.touched">
              <p class="caption status-danger" *ngIf="rePass.errors?.required">
                Password confirmation is required!
              </p>
              <p class="caption status-danger" *ngIf="password.value != rePass.value && !rePass.errors?.required">
                Password does not match the confirm password.
              </p>
            </ng-container>
          </div>
        </div>

        <div class="row form-control-group">
          <div class="col">
            <label class="label" for="organizationId">Organization</label>
            <nb-select id="organizationId" [(selected)]="selectedItem" placeholder="Select a organization" fullWidth
              filled>
              <nb-option *ngFor="let organization of organizations" value="{{organization.id}}">{{organization.name}}
              </nb-option>
            </nb-select>
          </div>
          <!-- <div class="col">
            <label class="label" for="typeUserId">Tipo de Usuário</label>
            <nb-select id="typeUserId" [(selected)]="selectedTypeUser" placeholder="Select a type user" fullWidth
              filled>
              <nb-option value="ADMIN">ADMIN</nb-option>
              <nb-option value="ROOT">ROOT</nb-option>
              <nb-option value="USER">USER</nb-option>
              <nb-option value="DEFAULT">DEFAULT</nb-option>
            </nb-select>
          </div> -->
          <div class="col">
            <label class="label" for="input-geekey">Google Earth Engine Key</label>
            <input nbInput id="input-geekey" [(ngModel)]="user.geeKey" name="geekey" placeholder="Key" autofocus
              fullWidth fieldSize="large">
          </div>
        </div>

        <div class="form-control-group form-shipping-address">
          <h6> Address</h6>
          <div class="row">
            <div class="col">
              <label class="label" for="input-city">City</label>
              <input nbInput id="input-city" [(ngModel)]="user.city" name="city" autofocus fullWidth fieldSize="large">
            </div>
            <div class="col">
              <label class="label" for="input-state">State</label>
              <input nbInput id="input-state" [(ngModel)]="user.state" name="state" autofocus fullWidth
                fieldSize="large">
            </div>
            <div class="col">
              <label class="label" for="input-country">Country</label>
              <input nbInput id="input-country" [(ngModel)]="user.country" name="country" autofocus fullWidth
                fieldSize="large">
            </div>
          </div>
        </div>

        <div class="form-shipping-address button-save-profile ">
          <button nbButton status="basic" (click)="goTo('modules/users/admin')" size="large">Go to
            Home</button>
          <button nbButton status="primary" (click)="saveChanges()" size="large"> Save Changes</button>
        </div>
      </div>

    </form>
  </nb-card-body>
</nb-card>
