<nb-card>
    <nb-card-header>
          <h5>{{'profile_main_title' | translate}}</h5>
    </nb-card-header>
    <nb-card-body class="card-profile">
      <form aria-labelledby="title">
        <div class="container">
          <div class="row">
            <div class="row col-12">
              <div class="col-12">
                  <img class="profile" [src]="user.picture? user.picture : '../../../../assets/images/user-avatar.png'" width="100">
              </div>
            </div>
          </div>
          <div class="row">
            <h6>{{'profile_title' | translate}}</h6>
          </div>
          <div class="row form-control-group">
            <div class="col-12">
              <label class="label" for="input-name">{{'profile_field_name' | translate}}</label>
              <input nbInput id="input-name" #fullName="ngModel" [(ngModel)]="user.name" name="name"
                placeholder="{{'profile_field_name_placeholder' | translate}}" autofocus fullWidth fieldSize="large">
                <ng-container *ngIf="fullName.invalid && fullName.touched">
                  <p class="caption status-danger" *ngIf="fullName.errors?.required">
                    {{'profile_field_name_required' | translate}}
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="row form-control-group">
            <div class="col-12">
              <label class="label" for="input-email">{{'profile_field_email' | translate}}</label>
              <input nbInput id="input-email" [(ngModel)]="user.email" name="email" pattern=".+@.+..+" #email="ngModel"
                placeholder="{{'profile_field_email_placeholder' | translate}}" fullWidth fieldSize="large">
                <ng-container *ngIf="email.invalid">
                  <p class="caption status-danger" *ngIf="email.errors?.required">
                    {{'profile_field_email_required' | translate}}
                  </p>
                  <p class="caption status-danger" *ngIf="email.errors?.pattern">
                    {{'profile_field_email_validation' | translate}}
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="row form-control-group">
            <div class="col-12">
              <label class="label" for="input-password"> {{'profile_field_password' | translate}}</label>
              <input nbInput #password="ngModel" type="password" id="input-password"
                [(ngModel)]="user.password" name="password"
                placeholder=" {{'profile_field_password_placeholder' | translate}}" fullWidth
                fieldSize="large">
                <ng-container *ngIf="password.invalid && password.touched">
                  <p class="caption status-danger" *ngIf="password.errors?.required">
                    {{'profile_field_password_required' | translate}}
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="row form-control-group">
            <div class="col-12">
              <label class="label" for="input-re-password">{{'profile_field_repass' | translate}}</label>
              <input nbInput type="password" (blur)="checkPassword()" id="input-re-password" #rePass="ngModel" [(ngModel)]="confirmPassword"
                name="rePass"
                placeholder="{{'profile_field_repass_placeholder' | translate}}" fullWidth
                fieldSize="large">
                <ng-container *ngIf="rePass.invalid && rePass.touched">
                  <p class="caption status-danger" *ngIf="rePass.errors?.required">
                    P{{'profile_field_repass_required' | translate}}
                  </p>
                  <p class="caption status-danger" *ngIf="password.value != rePass.value && !rePass.errors?.required">
                    {{'profile_field_repass_validation' | translate}}
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="row form-control-group">
            <div class="col-12">
              <label class="label" for="organizationId"> {{'profile_field_organization' | translate}}</label>
              <nb-select id="organizationId" [(selected)]="selectedItem"
                placeholder="{{'profile_field_organization_placeholder' | translate}}"
                fullWidth filled>
                <nb-option *ngFor="let organization of organizations" value="{{organization.id}}">{{organization.name}}
                </nb-option>
              </nb-select>
            </div>
          </div>
          <div class="row form-control-group">
            <div class="col-12">
              <label class="label" for="input-geekey">{{'profile_field_geekey' | translate}}</label>
              <textarea nbInput id="input-geekey" [(ngModel)]="user.geeKey" name="geekey" placeholder="{{'profile_field_geekey_placeholder' | translate}}" autofocus
                fullWidth
                rows="6"
                fieldSize="large">
              </textarea>
            </div>
          </div>
          <div class="row form-control-group">
            <div class="col-6">
              <label class="label" for="themeId">{{'profile_field_theme' | translate}}</label>
              <nb-select id="themeId" [(selected)]="selectedTheme" (selectedChange)="onChangeTheme()"
                          placeholder="{{'profile_field_theme_placeholder' | translate}}"
                          fullWidth filled>
                <nb-option *ngFor="let theme of themes" value="{{theme.id}}">{{theme.name}}
                </nb-option>
              </nb-select>
            </div>
            <div class="col-6">
              <label class="label" for="langId">{{'profile_field_language' | translate}}</label>
              <nb-select id="langId" [(selected)]="selectedLanguage" (selectedChange)="onChangeLang()"
                          placeholder="{{'profile_field_language_placeholder' | translate}}"
                          fullWidth filled>
                <nb-option *ngFor="let language of languages" value="{{language.id}}">{{language.name}}
                </nb-option>
              </nb-select>
            </div>
          </div>

          <div class="form-control-group form-shipping-address">
            <h6>{{'profile_title_address' | translate}}</h6>
            <div class="row">
              <div class="col">
                <label class="label" for="input-city">{{'profile_field_city' | translate}}</label>
                <input nbInput id="input-city" [(ngModel)]="user.city" name="city" autofocus fullWidth
                  fieldSize="large">
              </div>
              <div class="col">
                <label class="label" for="input-state">{{'profile_field_state' | translate}}</label>
                <input nbInput id="input-state" [(ngModel)]="user.state" name="state" autofocus fullWidth
                  fieldSize="large">
              </div>
              <div class="col">
                <label class="label" for="input-country">{{'profile_field_country' | translate}}</label>
                <input nbInput id="input-country" [(ngModel)]="user.country" name="country" autofocus fullWidth
                  fieldSize="large">
              </div>
            </div>
          </div>

          <div class="form-shipping-address button-save-profile ">
            <button nbButton status="primary" (click)="saveChanges()" size="large">{{'profile_btn_save' | translate}}</button>
          </div>
        </div>
      </form>
    </nb-card-body>
</nb-card>
