svg {
  position: relative;
  display: block;
  margin: 0 auto;
}

.hover {
  display: block;
  margin: 20px auto;
  border: 1px solid;
  background-color: #50e3c2;
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  letter-spacing: 2px;
}

#svg-card{
  padding: 20%;
}
