<nb-card id="index-use-class">
  <nb-card-header>{{'users_admin_title' | translate}}</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="search-inline">
          <input #search class="search" nbInput fullWidth (change)="search.value == '' ? refresh() : null" type="text" class="mr-2 mb-2" placeholder="{{'users_admin_field_search_placeholder' | translate}}"
            (keydown)="onSearch(search.value)">
          <button (click)="refresh()" class="mb-2 mr-2" nbButton status="primary" size="large">
            <nb-icon icon="refresh-outline"></nb-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEdit($event)"
          (delete)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
