@import "../../../@theme/styles/reponsive";

.form-control-group {
  margin-top: 15px;
}

.form-shipping-address {
  margin-top: 30px;
}

.button-save-profile {
  text-align: end;
}
.profile {
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}

.card-profile {
  max-height: 40rem;
  @include media(">=315px", "<tablet") {
    max-height: 27rem;
  }
}

