<nb-card >
  <nb-card-header><h6 class="m-3">Information of Campaign</h6></nb-card-header>
  <nb-card-body>
    <div class="form-group">
      <label for="_name" class="label">Name</label>
      <input
        id="_name"
        placeholder="Name of Campaign"
        type="text"
        nbInput
        disabled
        fullWidth
        [(ngModel)]="campaign.name"
      >
    </div>
    <div class="form-group">
      <label for="_description" class="label">Description</label>
      <textarea
        id="_description"
        placeholder="Description of Campaign"
        rows="5"
        fieldSize="large"
        nbInput
        disabled
        fullWidth
        [(ngModel)]="campaign.description"

      ></textarea>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-6">
        <div class="">
          <label for="_organizationId" class="label">Organization</label>
          <input
            id="_organizationId"
            type="text"
            nbInput
            disabled
            fullWidth
           [value]="campaign.organization?.name"
          >
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-16">
        <div class="form-group">
          <label for="_numInspectors" class="label">Inspectors</label>
          <input
            id="_numInspectors"
            placeholder="Number of Inspectors"
            type="number"
            nbInput
            disabled
            fullWidth
            [(ngModel)]="campaign.numInspectors"
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-6">
        <div class="form-group">
          <label for="_initialDate" class="label">Initial Date</label>
          <input
            id="_initialDate"
            placeholder="Initial Date"
            [nbDatepicker]="_dpInitialDate"
            nbInput
            disabled
            fullWidth
            [(ngModel)]="campaign.initialDate"
          >
          <nb-datepicker #_dpInitialDate [format]="'yyyy'"></nb-datepicker>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-16">
        <div class="form-group">
          <label for="_finalDate" class="label">Final Date</label>
          <input
            id="_finalDate"
            placeholder="Final Date"
            [nbDatepicker]="_dpFinalDate"
            nbInput
            disabled
            fullWidth
            [(ngModel)]="campaign.finalDate"
          >
          <nb-datepicker #_dpFinalDate [format]="'yyyy'"></nb-datepicker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-6">
        <nb-card >
          <nb-card-header><h6 class="m-3">Color Composition</h6></nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-xl-12">
                <ng2-smart-table
                  [settings]="tableCompositionsReview.settings"
                  [source]="tableCompositionsReview.source"
                >
                </ng2-smart-table>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-6">
        <nb-card >
          <nb-card-header><h6 class="m-3">Use classes</h6></nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-xl-12">
                <ng2-smart-table
                  [settings]="tableUseClass.settings"
                  [source]="tableUseClass.source"
                >
                </ng2-smart-table>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row m-3" >
      <div class="col-sm-12">
        <div class="header-flex">
            <span>
              <h6>  Points from file </h6>
            </span>
            <span>
              <h6> Total of points: {{campaign.points?.length}} </h6>
            </span>
        </div>
        <ng2-smart-table
          [settings]="tablePoints.settings"
          [source]="tablePoints.source"
        >
        </ng2-smart-table>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-sm-12 col-md-12 col-xl-12">
        <h6 class="m-3">  Users </h6>
        <ng2-smart-table
          [settings]="tableUsers.settings"
          [source]="tableUsers.source"
        >
        </ng2-smart-table>
      </div>
    </div>
    <div *ngIf="customImages" class="row m-3">
      <h6>  Custom images </h6>
      <div class="col-sm-12 col-md-12 col-xl-12">
        <ng2-smart-table
          [settings]="tableImages.settings"
          [source]="tableImages.source"
        >
        </ng2-smart-table>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
<!--    <button  *ngIf="campaign.status === 'INCOMPLETE'" nbButton size="giant" status="warning" (click)="router.navigateByUrl('pages/campaign/' + id + '/edit')" type="button">EDIT CAMPAIGN</button>-->
  </nb-card-footer>
</nb-card>
