@import '../../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../../node_modules/@nebular/theme/styles/global/breakpoints';
@import '../../../@theme/styles/themes';
@import '../../../@theme/styles/mixins';

.btn-header {
  display: flex;
  justify-content: space-between;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;

  @include tablet(){
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile(){
    grid-template-columns: repeat(1, 1fr);
  }

  .nb-actions {
    display: flex;
    justify-content: space-around;
    .actions {
      border-left: unset !important;
    }
  }
}
