<div class="btn-header">
  <button nbButton status="success" (click)="router.navigateByUrl('pages/campaign/create')" type="submit">ADD NEW CAMPAIGN</button>
  <div>
    <nb-search type="rotate-layout"></nb-search>
    <button (click)="resetSearch()" class="ml-2" nbButton status="primary" size="medium">
      <nb-icon icon="refresh-outline"></nb-icon>
    </button>
  </div>
</div>
<div class="cards mt-4">
  <nb-card size="medium" *ngFor=" let campaign of campaigns | filter:filterTerm; let i = index ">
    <nb-card-header style="position: relative;" >
      <nb-badge text="{{campaign.points.length}}" title="points" status="success" position="top right"></nb-badge>
      <nb-badge text="{{campaign.numInspectors}}" title="inspectors" status="danger" position="top left"></nb-badge>
      <h6>{{campaign.name}}</h6>
      <p class="description">{{campaign.description}}</p>
    </nb-card-header>
    <nb-card-body>
      <ngx-ol-map
        [center]="[4.984761,34.337429]"
        [zoom]="4"
        [mouseWheelZoom]="true"
        [height]="'250px'"
        [mapId]="'map' + i"
        [points]="handlePoints(campaign)"
      ></ngx-ol-map>
    </nb-card-body>
    <nb-card-footer >
      <nb-actions class="nb-actions" size="tiny">
        <nb-action
          title="View Campaign"
          class="action"
          (click)="router.navigateByUrl('pages/campaign/' + campaign.id + '/view')"
          icon="eye-outline">
        </nb-action>
        <nb-action
          *ngIf="campaign.status === 'INCOMPLETE'"
          title="Edit Campaign"
          class="action"
          (click)="router.navigateByUrl('pages/campaign/' + campaign.id + '/edit')"
          icon="edit-2-outline">
        </nb-action>
        <nb-action
          title="Publish Campaign?"
          class="action"
          (click)="publishCampaign(campaign)"
          badgeDot="true"
          badgePosition="top right"
          badgeText=" "
          [badgeStatus]="campaign.publish ? 'success' : 'danger' "
          icon="book-open-outline">
        </nb-action>
        <nb-action
          *ngIf="canInspect(campaign)"
          title="INSPECT"
          class="action"
          badgeDot="true"
          icon="book-open-outline"
          badgeStatus="success"
          badgeText="INSPECT"
          badgePosition="top right"
          (click)="beginInspection(campaign)">
        </nb-action>
        <nb-action
          *ngIf="canRemove(campaign)"
          title="REMOVE"
          class="action"
          icon="trash-2-outline"
          (click)="removeCampaign(campaign)">
        </nb-action>
        <nb-action
          *ngIf="canGenerateCache(campaign)"
          title="Start Caching Images"
          class="action"
          badgeDot="true"
          badgeText=" "
          badgePosition="top right"
          [disabled]="campaign.status === 'READY'"
          [badgeStatus]="campaign.status === 'READY' ? 'success' : 'danger' "
          (click)="startCache(campaign)"
          [icon]="campaign.status === 'READY' ? 'hard-drive' : 'hard-drive-outline' ">
        </nb-action>
      </nb-actions>
    </nb-card-footer>
  </nb-card>
</div>
